node_modules
.DS_Store
dist
whisper.cpp
models
.vscode
out/
resources/screencapturekit-helper/.build
resources/ScreenCaptureKitHelper
miniaudio-loopback/bin/
miniaudio-loopback/build/
miniaudio-loopback/*.sln
miniaudio-loopback/*.vcxproj*
